  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
          <h4>Taiwan Journal of Linguistics Monograph Series No. 1</h4>
          <h4>Conversational Contingency and Topic Management in Mandarin Child Language(2004)</h4>
          <hr>
          <p>Abstract:</p>
          <p>This monograph presents an investigation of the acquisition of Mandarin Chinese from a discourse-pragmatic perspective, focusing on two main conversational skills. The first concerns the child's ability to show conversational contingency, and the second concerns the child's ability to manage discourse topics. Conversational contingency refers to the child's ability to establish utterance-to-utterance relevancy relationships; topic management refers to the child's ability to initiate and maintain discourse topics in conversation. These abilities are essential for participating in conversational interaction and for constructing coherent discourse. Two- to four- year-old children's conversations with their parents are investigated quantitatively and qualitatively in the study. The findings reveal not only a complex picture of contingency relations and topic organizations in parent-child interaction but also interesting developmental patterns. The results are discussed in relation to the development of conversational skills, the parental roles in language acquisition, and the state of mind in conversation.</p>
          <p>Author:</p>
          <p>Chiung-chih Huang ( 黃瓊之 ) has a Ph.D. degree in Applied Linguistics from the University of California , Los Angeles . She is currently a faculty member in the Graduate Institute of Linguistics, National Chengchi University . Her research interests include first and second language acquisition, psycholinguistics, discourse analysis, and TESL.</p>
        <ul class="inline-list">
          <li><a href="">Back</a></li>
          <li><a href="">Download PDF</a></li>
        </ul>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->