  <!-- Main Page Content and Sidebar -->
 
<div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">
 
      <h2>Editorial Policy</h2>
      <hr>
    <div class="large-8 medium-10 small-12 columns">

          <p>Taiwan Journal of Linguistics is an international journal dedicated to the publication of research papers on linguistics and welcomes contributions in all areas of the scientific study of language. Review articles of linguistics-related books and informal book announcements are also welcome. Contributions may be submitted from all countries and are accepted all year round. The language of publication is English. There are no restrictions on regular submission; however, manuscripts simultaneously submitted to other publications cannot be accepted. Submissions by regular mail and electronic mail are both accepted. </p>
          <p>The TJL adheres to a strict standard of double-blind reviews to minimize any biases that might be caused by knowledge of the author’s gender, culture, or standing within the professional community. Once a manuscript is determined as potentially suitable for the journal after an initial screening by the editor, all information that may identify the author is removed, and copies are sent to at least two qualified reviewers. The selection of reviewers is based purely on professional considerations and their identity will not be revealed by The TJL. </p>
          <p>All feedback from the reviewers, except such comments as may be specifically referred to the attention of the editor, is faithfully relayed to the authors to assist them in improving their work, regardless of whether the paper is to be accepted, accepted upon minor revision, revised and resubmitted, or rejected.</p>
    </div>
 </div>
 </div>
 
  <!-- End Main Content and Sidebar -->