  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="medium-12 large-12 columns"> 
          <h4>CODING CAUSATIVES AND PUTATIVES IN A DIACHRONIC PERSPECTIVE</h4>
          <h5>Chinfa Lien</h5>
          <hr>
    <!-- <div class="row"> -->
      <div class="medium-12 large-8 large-offset-2 columns">
          <h5>CODING CAUSATIVES AND PUTATIVES IN A DIACHRONIC PERSPECTIVE</h5>
          <h6>Chinfa Lien</h6>
          <h6>The paper examines types of coding causatives and putatives in a diachronic perspective. Lexical and analytic coding of these two grammatical patterns are brought up for discussion. In general, Chinese witnesses a shift from lexical coding to analytic coding in its evolution from Old Chinese to Modern Chinese. Both labile causatives and putatives as ways of lexical coding prevalent in Old Chinese have the syntactic frame in common, and a verb or adjective in the frame may be construed as a labile causative or putative depending on the pragmatics-fed information. For analytic coding in modern Chinese in contrast to lexical coding in Old Chinese a survey of Li Jing Ji, a Southern Min script of a Ming play (1566 AD), turns up a range of verbs used as analytic causatives and putatives and types of grammatical constructions in which they occur. There is unmistakable evidence of interaction of lexico-semantic properties and syntactic patterns.</h6>
          <hr>
          <h5>使動式和意動式表現法的流變</h5>
          <h6>連金發 / 國立清華大學</h6>
          <h6>本文從歷時的觀點探討使動式和意動式表現類型的演變，特別著眼於這兩種語式的詞彙和分析表現法。漢語自上古漢語到現代漢語的其中一種演變大體上可以看成是由詞彙表現法轉入分析表現法。上古漢語中無定性的使動或意動述詞(即詞彙表現法的一種)出現於動賓式中。述詞，不論是動詞或形容詞，在動賓式中或解作使動動詞或解作意動動詞，端賴語用信息而定。現代漢語的分析表現法有別於古代漢語的詞彙表現法，這點可以從明代閩南語戲文荔鏡記(西元1566 年) 的語料得到印証，從其中我們歸納出一系列分析的使動和意動動詞及幾種相關的語法格式，由此可以明顯看出詞彙語意屬性和句法格式的互動關係。</h6>
          <hr>
          <ul class="inline-list right article-download">
            <li class="button small radius"><a href="">Back</a></li>
            <li class="button small radius success"><a href="">Download PDF</a></li>
          </ul>
      </div>
    </div>
  </div>
      <!-- End Feed Entry -->


       <!-- Feed Entry -->


  <!-- End Main Content and Sidebar -->