  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">
 
      <h2>Editors</h2>
          <hr>
      <div class="small-12 medium-8 medium-offset-2 columns">

          <h3>Editors</h3>
          <h6><ol>
            <li>One-Soon Her; Kawai Chui</li>
          </ol><h6>
          <hr>
          <h3>Editorial Board</h3>
          <h6><ol>
            <li>Zhiming Bao, National University of Singapore</li>
            <li>Allan Bernardo, University of Macau</li>
            <li>Yung-O Biq, National Taiwan Normal University</li>
            <li>Robert Blust, University of Hawaii</li>
            <li>Gary Barkhuizen, University of Auckland</li>
            <li>Ping Chen, University of Queensland</li>
            <li>Mary Dalrymple, University of Oxford</li>
            <li>William Foley, University of Sydney</li>
            <li>Yuchau Hsiao, National Chengchi University</li>
            <li>Chu-Ren Huang, Academia Sinica</li>
            <li>Lillian Meei-jin Huang, Shih Chien University</li>
            <li>Jong-Bok Kim, Kyung Hee University</li>
            <li>Harimurti Kridalaksana, University of Indonesia</li>
            <li>Huei-ling Lai, National Chengchi University</li>
            <li>Thomas Hun-tak Lee, Chinese University of Hong Kong</li>
            <li>Bingfu Lu, Nanchang University</li>
            <li>K.K. Luke, Hong Kong University</li>
            <li>Lily I-wen Su, National Taiwan University</li>
            <li>Chaofen Sun, Stanford University</li>
            <li>Yuji Takano, Kinjo Gakuin University</li>
            <li>Kingkarn Thepkanjana, Chulalongkorn University</li>
            <li>Wei-Tien Dylan Tsai, National Tsing Hua University</li>
            <li>Chaoqun Xie, Guangdong University of Foreign Studies</li>
          </ol><h6>
      </div>
  </div>
 
  <!-- End Main Content and Sidebar -->