  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
      <h2>Certificate</h2>
          <hr>
          <h3>THCI CORE Certificate</h3>
          <p><img src="/assets/certificate_2.jpg" /></p>
          <br>
          <br>
          <h3>台灣人文學引文索引核心期刊收錄證明書</h3>
          <p><img src="/assets/certificate_1.jpg" /></p>
    </div>
  </div>