  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
     <div class="large-9 columns books">
          <h2>Book Series in Chinese Linguistics</h2>
          <hr>
          <ol>
            <li><a href="publication_books_article.html" title=""><h5>Taiwan Journal of Linguistics Book Series in Chinese Linguistics No. 1</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Book Series in Chinese Linguistics No. 2</h5></a></li>
            <li></li>
          </ol>
    </div>
    <div class="large-3 columns show-for-large-only">
          <h6>THCI CORE Certificate</h6>
          <p><img src="/assets/certificate_2.jpg" /></p>
          <p><img src="/assets/certificate_1.jpg" /></p>
    </div>
  </div>
    <!-- Contact Details -->