  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="medium-12 large-9 columns publication">
      <h2>Publication</h2>
        <hr>
        <h6>The aim of The TJL Monograph Series and Book Series is to aid linguists in Taiwan make research findings available to a wider domestic and international readership.<br>Researchers in academic fields in Taiwan are frequently forced to resort to the unprofessional practice of ‘self-publishing’, especially for presentation of a major work which may be submitted in application for promotion.<br>Linguists in Taiwan now have an alternative in that The TJL offers a professional channel for book-length manuscripts to be anonymously peer-reviewed, formally published, and commercially distributed. The same standards that apply to TJL journal articles apply here as well.</h6>
        <hr>
        <a href="publication_monograph_title.html" title=""><h5>Monograph Series</h5></a>
        <a href="publication_books_title.html" title=""><h5>Book Series in Chinese Linguistics</h5></a>
    </div>
    <div class="large-3 columns show-for-large-only">
          <h6>THCI CORE Certificate</h6>
          <p><img src="/assets/certificate_2.jpg" /></p>
          <p><img src="/assets/certificate_1.jpg" /></p>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->