  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">
        <h2>Certificate</h2>
        <hr>
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
            <h4>THCI CORE Certificate</h4>
            <br>
            <p><img src="./assets/thci-core.png" alt="thci-core" style="display:block;margin:0 auto;"></p>
            <br>
            <br>
            <p><img src="/assets/certificate_2.jpg" /></p>
            <br>
            <br>
            <h4>台灣人文學引文索引核心期刊收錄證明書</h4>
            <p><img src="/assets/certificate_1.jpg" /></p>
      </div>
    </div>
  </div>