  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
          <h2>Monograph</h2>
          <hr>
          <ol>
            <li><a href="template_01_publication_monograph_article.html" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.1</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.2</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.3</h5></a></li>
            <li></li>
          </ol>
        <ul class="inline-list">
          <li><a href="">Back</a></li>
        </ul>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->