  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns"> 
        <h2>Subscription</h2>
          <hr>
          <h3>Electronic subscription</h3>
          <p>Please contact <a href="mailto:TJL@nccu.edu.tw" target="_top">TJL@nccu.edu.tw</a>. Please note that TJL is now open access.<br></p>
          <br>
          <h3>Hardcopies or advertising</h3>
          <p>Please contact Miss Lulu Ku at <a href="lulu@crane.com.tw" target="_top">lulu@crane.com.tw</a> or<br>
          Crane Publishing Co. 3F., No.200, Sec. 2, Jinshan S. Rd., Da-an District, Taipei City, Taiwan, ROC<br>
          Tel: +886-2-2293-4497</p>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->