  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Certificate</h3>
      <p></p>
    </div> 
    <div class="large-3 columns">
    </div>
  </div>