  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">
      <h4>Taiwan Journal of Linguistics Book Series in Chinese Linguistics No. 1</h4>
      <h5>Mandarin Compound Verbs , by Karen Steffen Chung</h5>
      <h5>漢語複合動詞 史嘉琳著</h5>
      <h5>榮獲國科會人文學中心出版補助 (2006)</h5>
      <hr>
      <div class="medium-8 medium-offset-2 columns">

      <h6>ABSTRACT</h6>

      <h6>This is a study of the structure and properties of compound verb s in Mandarin Chinese. The Mandarin lexicon has not been widely studied in the way that Mandarin syntax has, perhaps because of a popular notion that compounds are a kind of “black box”, in which “lexicalization” is explanation enough for the way the components of compounds are put together. In fact, equivalents of many of the same features that typify Mandarin syntax, such as instrumental, aspectual, and passive constructions, are to be found on the lexical level as well.</h6>

      <h6>By excluding separable structures such as Verb-Object phrases and resultative and directional constructions, we are able to establish, first, that verbs, like nouns, are invariably right-headed, i.e. modifiers always precede what they modify; and also that compound verbs with relatively few exceptions are disyllabic.</h6>

      <h6>We divide compound verbs into subordinate, coordinate, embedded, and other miscellaneous compound verb types, based on the contextual part of speech of the component morphemes and their relationship with each other.</h6>

      <h6>Subordinate compound verbs are found to exhibit an extensive system of verbal prefixation, contradicting the popular idea that there are few examples of affixation in Mandarin. Different relative position in a coordinate compound verb sometimes distinguishes different senses of the same morpheme. Included among embedded compound verbs we find lexical aspectual, passive, and causative structures. Aspectual matrix verbs in initial position are found to express intentioned, purposeful action, in contrast to complements of resultative constructions, which indicate a natural outcome of an action. Many of the compound verb types in the “other types” category, such as resultative compounds and transitive VO compounds, mirror other structural types; a few are foreign imports.</h6>

      <h6>While most of the examples given in this study are established lexical items, new analogical formations continue to be created.</h6>

      <h6>In short, separability serves as a clear criterion of what is and is not a compound verb in Mandarin. And in general, Mandarin compound verbs are found to strictly follow rules very similar to those of Mandarin syntax, with word order the most important guiding principle.</h6>



      <hr>



      <h6>摘要</h6>

      <h6>本論文的研究主題是漢語複合動詞的結構與特性。在有關漢語語法的文獻中，著 重於句法方面的研究遠超過有關詞彙的研究；部分原因可能是因為詞彙常被認為是一個「黑盒子」，很難做出有系統的分析，因此「詞彙化」的概念應該就足以說明 複合詞內在結構的整體現象。然而實際上，在詞彙層次裡同樣存在著許多類似於漢語句法裡的功能，如工具格、動貌、被動式等。</h6>

      <h6>在排除了可分的結構之後，如動賓、動作結果、與動作方向的結構，我們可以確 定漢語複合動詞的兩項特徵：一、複合動詞和複合名詞一樣，中心語一律在右，換言之，修飾語在被修飾語之前；二、複合動詞絕大多數是雙音節，僅有少數的例外。</h6>
      <h6>我們根據語素在複合詞裡的詞類，以及語素與語素之間的關係，將複合動詞分為並列式、偏正式、崁入式、以及「其他類」等四種類型。</h6>
      <h6>一般認為，詞綴在漢語裡的應用極為有限；但是我們的研究發現，在偏正式複合 動詞的結構裡存有一個廣泛的前綴系統。在並列式複合動詞裡，同一個語素有時會因為出現的位置不同，或左或右，而反映出該語素不同的語意或用法。崁入式複合 動詞則包括了動貌、被動式、與使動式等結構。當崁入式的動貌主要句動詞出現在詞的第一個位置時，所表現的是有意、有目的的動作；這與動結句式的補語十分不 同，後者所表現的是動作自然衍生出來的結果，而不是有意的、受控制的動作。歸納於「其他類」的複合動詞，許多是經由某種句法類型轉變而成的，例如，動結複 合動詞與及物動賓複合動詞。少數「其他類」的複合動詞是外來語或是受外語影響而形成的結構。雖然研究中所使用的例子大多數是漢語中既有的詞彙，但是以類比 方式所創造出結構相同的新詞卻是不斷的出現。</h6>
      <h6>總之，一個詞組的可分性可作為識別複合詞的可靠標準；一般而言，漢語複合動 詞所依循的規則與漢語句法的規則相當一致，其中最重要的原則就是詞序。</h6>
    </div>
    </div>
  </div>
       
        <!-- End Main Content and Sidebar -->