  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns monograph">
          <h2>Monograph</h2>
          <hr>
          <ol>
            <li><a href="publication_monograph_article.html" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.1</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.2</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.3</h5></a></li>
            <li></li>
          </ol>
    </div>
    <div class="large-3 columns show-for-large-only">
          <h6>THCI CORE Certificate</h6>
          <p><img src="/assets/certificate_2.jpg" /></p>
          <p><img src="/assets/certificate_1.jpg" /></p>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->