  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="small-12 medium-9 columns volumes" >
      <h2>Volumes</h2>
      <hr>
          <ol>
            <li><a href="volumes_title.html" title=""><h6>Volume 1, Number 1, Spring 2003</h6></a></li>
            <li><a href="#" title=""><h6>Volume 1, Number 2, Fall 2003</h6></a></li>
            <li><a href="#" title=""><h6>Volume 2, Number 1, Spring 2004</h6></a></li>
            <li><a href="#" title=""><h6>Volume 2, Number 2, Fall 2004</h6></a></li>
            <li><a href="#" title=""><h6>Volume 3, Number 1, Spring 2005</h6></a></li>
            <li><a href="#" title=""><h6>Volume 3, Number 2, Fall 2005</h6></a></li>
            <li><a href="#" title=""><h6>Volume 4, Number 1, Spring 2006</h6></a></li>
            <li><a href="#" title=""><h6>Volume 4, Number 2, Fall 2006</h6></a></li>
            <li><a href="#" title=""><h6>Volume 5, Number 1, Spring 2007</h6></a></li>
            <li><a href="#" title=""><h6>Volume 5, Number 2, Fall 2007</h6></a></li>
            <li><a href="#" title=""><h6>Volume 6, Number 1, Spring 2008</h6></a></li>
            <li><a href="#" title=""><h6>Volume 6, Number 2, Fall 2008</h6></a></li>
            <li><a href="#" title=""><h6>Volume 7, Number 1, Spring 2009</h6></a></li>
            <li><a href="#" title=""><h6>Volume 7, Number 2, Fall 2009</h6></a></li>
            <li><a href="#" title=""><h6>Volume 8, Number 1, Spring 2010</h6></a></li>
            <li><a href="#" title=""><h6>Volume 8, Number 2, Fall 2010</h6></a></li>
            <li><a href="#" title=""><h6>Volume 9, Number 1, Spring 2011</h6></a></li>
            <li><a href="#" title=""><h6>Volume 9, Number 2, Fall 2011</h6></a></li>
            <li><a href="#" title=""><h6>Volume 10, Number 1, Spring 2012</h6></a></li>
            <li><a href="#" title=""><h6>Volume 10, Number 2, Fall 2012</h6></a></li>
            <li><a href="#" title=""><h6>Volume 11, Number 1, Spring 2013</h6></a></li>
            <li><a href="#" title=""><h6>Volume 11, Number 2, Fall 2013</h6></a></li>
            <li><a href="#" title=""><h6>Lexical Derivation in Mandarin Chinese 漢語的派生構詞法</h6></a></li>
          </ol>
    </div>
    <div class="small-12 medium-3 columns">
          <p><img src="./assets/thci-core.png" alt="thci-core" style="display:block;margin:30px auto;"></p>
          <h5 style="text-align:center;">THCI CORE Certificate</h5>
          <p><img src="/assets/certificate_2.jpg" /></p>
          <p><img src="/assets/certificate_1.jpg" /></p>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->