  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">
      <h2>History</h2>
          <hr>
      <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns" style="text-align: justify;">
          <h6>The Taiwan Journal of Linguistics (TJL ISSN:1729-4649), now open access, is a peer-reviewed international journal of linguistics published by Crane Publishing in Taiwan. Its editorship is under the governance of the Graduate Institute of Linguistics and the Department of English, National Chengchi University (NCCU). The TJL is published in one volume per year, consisting of a spring issue and a fall issue. The language of publication is English.</h6>
          <h6>The idea of a commercially-backed, professionally-edited international linguistics journal in Taiwan was first proposed to Crane Publishing, the leading publisher and bookseller in the area of linguistics in the country, by Professor One-Soon Her, the then chair of the Graduate Institute of Linguistics, National Chengchi University, in the fall of 2002. A formal agreement was then reached between Crane and NCCU and a proper infrastructure established. The first issue of The TJL appeared in the first half of 2003 and it has been published regularly ever since. In 2004, The TJL also launched its monograph series with an international call for manuscripts. Its first monograph was published in the same year, and number two and three are already in the planning. In 2005, The TJL launched the Book Series in Chinese Linguistics and the fist volume is currently in press. TJL is indexed in: MLA International Bibliography, MLA Directory of Periodicals, CSA Linguistics & Language Behavior Abstracts, and THCI Core.</h6>
        </div>
    </div>
  </div>
 
  <!-- End Main Content and Sidebar -->