  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">
          <h2>Contributors</h2>
          <hr>
      <div class="medium-8 medium-offset-2 columns" >

      <h6 style="text-align:justify;">Electronic submissions are encouraged and should be sent to tjl@nccu.edu.tw.<br>
            Otherwise, send the manuscript in triplicate and a soft copy on disk to:</h6>
            <p>Editors, Taiwan Journal of Linguistics<br>
            Graduate Institute of Linguistics<br>
            National Chengchi University<br>
            Taipei, Taiwan 116, ROC<p>
      <h6 style="text-align:justify;">Both Word and PDF files are acceptable. A paper normally should not exceed 40 pages single-spaced. The author(s) of each published paper will receive five copies of the journal issue. A manuscript may follow the style sheet of any established linguistics journal; however, once accepted, an article must then conform strictly to The TJL Style Sheet and The TJL Template.</h6>
      <h6 style="text-align:justify;">Contributions may be submitted from all countries and are accepted all year round. The language of publication is English. However, manuscripts simultaneously submitted to other publications cannot be accepted.</h6>
      <h6 style="text-align:justify;">A manuscript in the 'revise and resubmit' category must be resubmitted within 12 months, and a manuscript in the 'revise with no need for further reviews' category must be revised and sent back to the editor within 3 months, and when approved, the final proof according to the TJL style sheet is then expected within a month. Please note that a paper cannot be claimed as 'accepted' or 'to appear' without a formal notice of acceptance from the editor.</h6>
    </div>
</div>
<!-- End Main Content and Sidebar -->