<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Taiwan Journal of Linguistics, TJL</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<header class="title-area row" style="border-bottom: 1px solid rgba(100, 100, 100, 1);">
  <h1 class="large-12 columns">Taiwan Journal of Linguistics</h1>
</header><!-- /header -->
  <nav class="top-bar row" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="volumes">Volumes</a></li>

        <li class="divider"></li>
        <li class="has-dropdown">
        <a href="publication">Publication</a>
          <ul class="dropdown">
            <li><a href="publication_monograph_title">Monograph</a></li>
            <li><a href="publication_books_article">Book series</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a>Taiwan Journal of Linguistics</a>
          <ul class="dropdown">
            <li><a href="history">History</a></li>
            <li><a href="certificate">Certificate</a></li>
            <li><a href="editors">Editors</a></li>
            <li><a href="contributors">Contributors</a></li>
            <li><a href="policy">Editorial Policy</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="subscription">Subscription</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->
 





  <%= yield %>
  




  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list right" style=" margin-right:1.5%; margin-left:1.5%;">
            <li><a href="volumes">Volumes</a></li>
            <li><a href="history">History</a></li>
            <li><a href="certificate">Certificate</a></li>
            <li><a href="editors">Editors</a></li>
            <li><a href="contributors">Contributors</a></li>
            <li><a href="publication">Publication</a></li>
            <li><a href="subscription">Subscription</a></li>
            <li><a href="policy">Editorial Policy</a></li>
          </ul>
        </div>
      </div>
        <h6><center>© Copyright Taiwan Journal of Linguistics</center></h6>
    </div>
  </footer>
 
  <!-- End Footer -->
 
 
 
  <!-- Map Modal -->
 
  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600" /></p>
 
    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">×</a>
  </div>


</body>
</html>
